@font-face { 
    font-family: Comfortaa; 
    src: url('../fonts/Comfortaa.ttf') format('truetype'); } 

body{
    font-family: Comfortaa;
    font-size: 14px;
    width: 300px;
}

ul {
    width:100%;
    list-style-type: none;
    position: relative;
    left: -14%;
    height:200px; 
    overflow:hidden; 
    overflow-y:scroll;

}

li{
    width:100%;
    line-height: 40px;
    background-color:#ffffff;
}

li:hover{
    background-color:#ededed;
}

a{
    text-decoration: none;
    color: #5d574c;
}


a:hover{
    color: #ff6c00;
}

#foot{
    background-color:#ffffff;
    color:#ff5800;
    cursor:pointer;
}

#foot:hover{
    font-size:16px;
    color:#ff3b00;
    transition: font-size 0.6s linear;
}
